.sidebar {
  display: flex;
  flex-direction: column;

  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  max-height: 100vh;
  min-width: 20vw;
  max-width: 20vw;
  background-color: black;

  .text-with-blur {
    user-select: none;
  }

  .top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h2 {
      font: 2em sans-serif;
      color: white;
    }
  }
  .top1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font: 2em sans-serif;
    color: white;

    input {
      border-radius: 2em;
      color: black;
    }
  }
}
